body{
    background-color:lightskyblue;
}

#show_sketch{
    float: right; 
    margin-right: 20px;
}

h1{
    background-color: wheat;
    color: darkorchid;
    text-shadow: 1px 1px black;
    font-weight: bolder;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 120px;
}

#score{
    float: left;
    font-size: 25px;
    margin-left: 20px;
    font-family: 'Geneva';
    font-weight: bold;
}

#timer{
    float: right;
    font-size: 25px;
    margin-right: 70px;
    font-family: 'Geneva';
    font-weight: bold;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 5pc;
    animation-name: example;
    animation-duration: 4s;  
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 1px 1px 38px royalblue;}
    to{box-shadow: 1px 1px 38px purple;}
}